<a href="https://colab.research.google.com/github/code-with-mohitpal/AI-ML-data-science-python/blob/main/Copy_of_CSE273_Unit_1_Part_2_(Numpy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![numpy.bmp]()
# CSE273 UNIT-1, Part-2: **Numpy for Numerical Computing**

## Learning Objectives for this Lecture:

* Understand the core concepts of NumPy arrays.
* Creating arrays (1D and 2D) using NumPy
* Operations on arrays
* Broadcasting Rule
* How NumPy arrays differ from Lists in Python
* Matrix Operations (Transpose, Rank, Inverse, etc.)
* Random module / numpy.random

# Part A: Introducing **NumPy**

### Why **Python** is used for AI?
* Artificial Intelligence systems rely heavily on numerical computation, linear algebra, and large-scale data processing.
* While Python is an interpreted language and slower than C or C++, it achieves high performance in AI through optimized numerical libraries such as **NumPy**, **SciPy**, and other deep learning frameworks.
* Python acts as a *control language*, while performance-critical operations are executed in compiled backends

## Why Python's Built-in Structures Aren't Enough for Large Data
* Lists, tuples, sets, dictionaries are great for general programming.
* But for numerical operations on large datasets, they can be slow and memory-inefficient.
* **Example**: Summing millions of numbers in a Python list vs. a specialized array in optimized time-space complexity

### Data Structures for AI
* **Scalar**: A single numeric value
* **Vector**: One-dimensional array of features
* **Matrix**: Two-dimensional data representation
* **Tensor**: Multi-dimensional array (images, sequences, batches)


      Scalar ▶ Vector ▶ Matrix ▶ Tensor

## **NumPy (Numerical Python)**:
* Core Object: **ndarray** (N-dimensional array).
* **Homogeneous** (all elements of the same data type).
* Fixed size at creation.
* Highly optimized for numerical operations.
* **Vectorization**: Perform operations on entire arrays without explicit loops (much faster).
* **Why it's faster**: Implemented in C, optimized for memory layout.
* Foundation for *Pandas*.

### Importing NumPy module

In [ ]:
import numpy

In [ ]:
import numpy as np

### Creating 1D array using ```array()``` function

Syntax:

```np.array(sequence_object_contaning_values)```

In [ ]:
roll1 = np.array([4, 26, 66, 55]) # creating an array from a list
roll2 = np.array((2, 16, 23)) # creating an array from a tuple
roll3 = np.array({23, 68, 64}) # creating an array from a set

In [ ]:
# print these arrays
print('roll1: ', roll1)
print('roll2: ', roll2)
print('roll3: ', roll3)

roll1:  [ 4 26 66 55]
roll2:  [ 2 16 23]
roll3:  {64, 68, 23}

In [ ]:
# print data type of these arrays
print('Type of roll1: ', type(roll1))
print('Type of roll2: ', type(roll2))
print('Type of roll3: ', type(roll3))

Type of roll1:  <class 'numpy.ndarray'>
Type of roll2:  <class 'numpy.ndarray'>
Type of roll3:  <class 'numpy.ndarray'>

### Creating 1D array of all zeroes and all ones using ```zeros()``` and ```ones()``` functions

Syntax:

* ```np.zeros(length)```
* ```np.ones(length)```

In [ ]:
cgpa = np.zeros(5)
print('cgpa: ', cgpa)
print('type of cgpa: ', type(cgpa))

cgpa:  [0. 0. 0. 0. 0.]
type of cgpa:  <class 'numpy.ndarray'>

In [ ]:
free_tokens = np.ones(5)
print('free_tokens: ', free_tokens)
print('type of free_tokens: ', type(free_tokens))

free_tokens:  [1. 1. 1. 1. 1.]
type of free_tokens:  <class 'numpy.ndarray'>

### Creating 1D array using ```arange()``` function

Syntax:

```np.arange(start_value_inclusive, end_value_exclusive, step_size)```

### Creating 1D array using ```linspace()``` function

Syntax:

```np.linspace(start_value_inclusive, end_value_inclusive, count_values)```

### Operations on 1D arrays

#### Determine the no. of elements in the array

Syntax:

```len(array_name)```

In [ ]:
print('length of roll1: ', len(roll1))
print('length of roll2: ', len(roll2))
# print('length of roll3: ', len(roll3)) # TypeError: len() of unsized object
print('length of cgpa: ', len(cgpa))
print('length of free_tokens: ', len(free_tokens))
print('length of test_rolls: ', len(test_rolls))

length of roll1:  4
length of roll2:  3
length of cgpa:  5
length of free_tokens:  5
length of test_rolls:  5

#### Determine the shape (dimensions) of the array

Syntax:

```array_name.shape```

In [ ]:
print('shape of roll1: ', roll1.shape)
print('shape of roll2: ', roll2.shape)
print('shape of roll3: ', roll3.shape)
print('shape of cgpa: ', cgpa.shape)
print('shape of free_tokens: ', free_tokens.shape)
print('shape of test_rolls: ', test_rolls.shape)

shape of roll1:  (4,)
shape of roll2:  (3,)
shape of roll3:  ()
shape of cgpa:  (5,)
shape of free_tokens:  (5,)
shape of test_rolls:  (5,)

#### Perform slicing on the array

In [ ]:
print(test_rolls[1:3])

[10.5 17. ]

#### Reverse an array

In [ ]:
print(test_rolls[::-1])

[30.  23.5 17.  10.5  4. ]

#### Sort an array: ```np.sort(a)``` vs ```a.sort()```

In [ ]:
a=np.array([5,4,3,2,1])
b=np.sort(a)
print(b)
print(a)

[1 2 3 4 5]
[5 4 3 2 1]

In [ ]:
a.sort()
print(a)

[1 2 3 4 5]

#### Statictical Functions over 1D NumPy array

* ```a.min()```: returns the minimum value in the array ```a```
* ```a.max()```: returns the maximum value in the array ```a```
* ```a.argmin()```: returns the index of minimum value in the array ```a```
* ```a.argmax()```: returns the index of maximum value in the array ```a```
* ```a.sum()```: returns sum of all elements of the array ```a```
* ```a.prod()```: returns product of all elements of the array ```a```
* ```a.cumsum()```: returns another array of cumulative sums of ```a```
* ```a.cumprod()```: returns another array of cumulative products of ```a```
* ```a.mean()```: returns average of all elements of the array ```a```
* ```a.std()```: returns standard deviation of all elements of the array ```a```
* ```a.var()```: returns variance of all elements of the array ```a```
* ```np.median(a)```: returns median of all elements of the array ```a```

In [ ]:
np.sum(a)
print(a)

[1 2 3 4 5]

### **Vectorization**

**Vectorization**
* *eliminates **explicit loops*** and
* *delegates computation to **optimized libraries***

In [ ]:
# Loop
a = np.array([1, 2, 3, 4, 5])
s = 0
for i in range(len(a)):
  s += a[i]
print('Loop based sum:', s)

# Vectorized
s = a.sum()
print('Vectorized sum:', s)

In [ ]:
#UNDERSTANDING PURPOSE ONLY
# observe the time taken to execute both codes

import time
a = np.array([1, 2, 3, 4, 5])

# Loop
start_time = time.perf_counter() # Why perf_counter()? High‑resolution timer. Includes time elapsed during sleep. Suitable for benchmarking small code snippets.
# perf_counter() returns a floating‑point number representing the value of a high‑resolution performance counter in seconds.
s = 0
for i in range(len(a)):
  s += a[i]
end_time = time.perf_counter()
time_taken = end_time - start_time
print('Loop based sum:', s, 'in', time_taken,'seconds')

# Vectorized
start_time = time.perf_counter()
s = a.sum()
end_time = time.perf_counter()
time_taken = end_time - start_time
print('Vectorized sum:', s, 'in', time_taken,'seconds')

Loop based sum: 15 in 0.00022508300025947392 seconds
Vectorized sum: 15 in 0.00020730000005642069 seconds

In [ ]:
import numpy as np
d=np.array([[78,85,90,88],[56,77,77,55],[99,88,77,66],[33,44,55,66],[12,12,13,34]])
print(d)

[[78 85 90 88]
 [56 77 77 55]
 [99 88 77 66]
 [33 44 55 66]
 [12 12 13 34]]

In [ ]:
c=np.mean(d,axis=1)
print(c)

[85.25 66.25 82.5  49.5  17.75]

In [ ]:
c=np.array([[4,5,8],[7,8,9],[9,8,7]])
d=np.array([[5,6],[9,8]])
n=np.array([[2,3],[6,7]])
print(n*d)
print(n@d)
print(c.trace())
print(c.T)
print()

[[10 18]
 [54 56]]
[[37 36]
 [93 92]]
19
[[4 7 9]
 [5 8 8]
 [8 9 7]]

In [ ]:
print(np.linalg.det(c))

-3.0000000000000018

In [ ]:
print(np.linalg.inv(c))

[[-2.66666667  1.66666667]
 [ 2.33333333 -1.33333333]]

In [ ]:
f,g=np.linalg.eig(c)
print(f)

[21.82004296 -3.26870438  0.44866143]

In [ ]:
np.random.seed(3)
b=np.random.randint(2,8,7)
print(b)

[4 2 3 5 2 2 2]

In [ ]:
b=np.array([[5,6],["r","h"]])
print(b)

[['5' '6']
 ['r' 'h']]

In [ ]:
a=np.array([2,4,5])
print(a)
import pandas as pd
b=pd.Series([2,4,5])
print(b)
c=pd.Series([2,4,5],index=["raman","dd","aa"])
print(c)

[2 4 5]
0    2
1    4
2    5
dtype: int64
raman    2
dd       4
aa       5
dtype: int64

In [ ]:
import pandas as pd
a=pd.read_csv("/content/insurance.csv")
print(a)

       age  gender    bmi  children  smoker     region      charges
0     19.0  female  27.90         0       1  southwest  16884.92400
1     18.0    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male    NaN         0       0  northwest  21984.47061
4     32.0    male  28.88         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
import numpy as np
a=np.array([6,6,7])
print(a)
print(type(a))
print(a.dtype)

[6 6 7]
<class 'numpy.ndarray'>
int64

In [ ]:
a=np.array([[1,2,9],[4,5,9],[9,8,7]])
b=np.array([[6,2],[8,5]])
print(a.shape)

(3, 3)

In [ ]:
print(np.linalg.det(a))

-2.9999999999999996

In [ ]:
print(np.linalg.inv(a))

[[-1.66666667  0.66666667]
 [ 1.33333333 -0.33333333]]

In [ ]:
print(b.T)
print(np.transpose(b))

[[6 8]
 [2 5]]
[[6 8]
 [2 5]]

In [ ]:
c,d=np.linalg.eig(a)
print(c)
print(d)

[18.89798559 -6.30108345  0.40309786]
[[-0.41781776 -0.72201807  0.60107606]
 [-0.57550482 -0.25625422 -0.78767722]
 [-0.70300962  0.64266918  0.13517454]]

In [ ]:
print(a.dot(b))
print(a@b)

[[22 12]
 [64 33]]
[[22 12]
 [64 33]]

In [ ]:
print(np.sum(a,axis=0))

[5 7]

In [ ]:
print(b.trace())

11

In [ ]:
np.random.seed(5)
b=np.random.randint(2,10,1)
print(b)

[5]

In [ ]:
a=np.array([[5,6,7],["a",8,9]])
print(a)
print(a.dtype)

[['5' '6' '7']
 ['a' '8' '9']]
<U21

In [ ]:
a=np.array([4,5,6])
print(a)

[4 5 6]

In [ ]:
import pandas as pd
a=pd.Series([4,5,6],index=["raman","aman","da"])
print(a)

raman    4
aman     5
da       6
dtype: int64

In [ ]:
c={"Name":["raman","aman"],"marks":[99,89]}
#print(c)
d=pd.DataFrame(c)
print(d)

    Name  marks
0  raman     99
1   aman     89

In [ ]:
a=pd.read_csv("/content/insurance.csv")
print(a)

       age  gender    bmi  children  smoker     region      charges
0     19.0  female  27.90         0       1  southwest  16884.92400
1     18.0    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male    NaN         0       0  northwest  21984.47061
4     32.0    male  28.88         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
d={"age":[21,20,19,20],"Name":["raman","aman","karan","taran"],"Marks":[99,88,77,66]}
e=pd.DataFrame(d)
print(e)

   age   Name  Marks
0   21  raman     99
1   20   aman     88
2   19  karan     77
3   20  taran     66