<a href="https://colab.research.google.com/github/code-with-mohitpal/AI-ML-data-science-python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
p=pd.Series([2,3,4])
print(p)

0    2
1    3
2    4
dtype: int64

In [ ]:
b={"name":["r","a"],"age":[25,24]}
pd.DataFrame(b)

  name  age
0    r   25
1    a   24

In [ ]:
file1=pd.read_csv("/content/insurance.csv")
print(file1)

       age  gender    bmi  children  smoker     region      charges
0      NaN  female  27.90         0       1  southwest  16884.92400
1      NaN    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male    NaN         0       0  northwest  21984.47061
4     32.0    male    NaN         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
file1.head()

    age  gender    bmi  children  smoker     region      charges
0   NaN  female  27.90         0       1  southwest  16884.92400
1   NaN    male  33.77         1       0  southeast   1725.55230
2  28.0    male  33.00         3       0  southeast   4449.46200
3  33.0    male    NaN         0       0  northwest  21984.47061
4  32.0    male    NaN         0       0  northwest   3866.85520

In [ ]:
file1.head(10)

    age  gender    bmi  children  smoker     region      charges
0   NaN  female  27.90         0       1  southwest  16884.92400
1   NaN    male  33.77         1       0  southeast   1725.55230
2  28.0    male  33.00         3       0  southeast   4449.46200
3  33.0    male    NaN         0       0  northwest  21984.47061
4  32.0    male    NaN         0       0  northwest   3866.85520
5   NaN  female  25.74         0       0  southeast   3756.62160
6  46.0  female  33.44         1       0  southeast   8240.58960
7  37.0  female  27.74         3       0  northwest   7281.50560
8  37.0    male  29.83         2       0  northeast   6406.41070
9  60.0  female  25.84         0       0  northwest  28923.13692

In [ ]:
file1.tail(20)

       age  gender     bmi  children  smoker     region      charges
1318  35.0    male  39.710         4       0  northeast  19496.71917
1319  39.0  female  26.315         2       0  northwest   7201.70085
1320  31.0    male  31.065         3       0  northwest   5425.02335
1321  62.0    male  26.695         0       1  northeast  28101.33305
1322  62.0    male  38.830         0       0  southeast  12981.34570
1323  42.0  female  40.370         2       1  southeast  43896.37630
1324  31.0    male  25.935         1       0  northwest   4239.89265
1325  61.0    male  33.535         0       0  northeast  13143.33665
1326  42.0  female  32.870         0       0  northeast   7050.02130
1327  51.0    male  30.030         1       0  southeast   9377.90470
1328  23.0  female  24.225         2       0  northeast  22395.74424
1329  52.0    male  38.600         2       0  southwest  10325.20600
1330  57.0  female  25.740         2       0  southeast  12629.16560
1331  23.0  female  33.400         0       0  southwest  10795.93733
1332  52.0  female  44.700         3       0  southwest  11411.68500
1333  50.0    male  30.970         3       0  northwest  10600.54830
1334  18.0  female  31.920         0       0  northeast   2205.98080
1335  18.0  female  36.850         0       0  southeast   1629.83350
1336  21.0  female  25.800         0       0  southwest   2007.94500
1337  61.0  female  29.070         0       1  northwest  29141.36030

In [ ]:
file1.loc[25]

age               59.0
gender          female
bmi              27.72
children             3
smoker               0
region       southeast
charges     14001.1338
Name: 25, dtype: object

In [ ]:
file1.iloc[25]

age               59.0
gender          female
bmi              27.72
children             3
smoker               0
region       southeast
charges     14001.1338
Name: 25, dtype: object

In [ ]:
file1.loc[25:80]

     age  gender     bmi  children  smoker     region      charges
25  59.0  female  27.720         3       0  southeast  14001.13380
26  63.0  female  23.085         0       0  northeast  14451.83515
27  55.0  female  32.775         2       0  northwest  12268.63225
28  23.0    male  17.385         1       0  northwest   2775.19215
29  31.0    male  36.300         2       1  southwest  38711.00000
30  22.0    male  35.600         0       1  southwest  35585.57600
31  18.0  female  26.315         0       0  northeast   2198.18985
32  19.0  female  28.600         5       0  southwest   4687.79700
33  63.0    male  28.310         0       0  northwest  13770.09790
34  28.0    male  36.400         1       1  southwest  51194.55914
35  19.0    male  20.425         0       0  northwest   1625.43375
36  62.0  female  32.965         3       0  northwest  15612.19335
37  26.0    male  20.800         0       0  southwest   2302.30000
38  35.0    male  36.670         1       1  northeast  39774.27630
39  60.0    male  39.900         0       1  southwest  48173.36100
40  24.0  female  26.600         0       0  northeast   3046.06200
41  31.0  female  36.630         2       0  southeast   4949.75870
42  41.0    male  21.780         1       0  southeast   6272.47720
43  37.0  female  30.800         2       0  southeast   6313.75900
44  38.0    male  37.050         1       0  northeast   6079.67150
45  55.0    male  37.300         0       0  southwest  20630.28351
46  18.0  female  38.665         2       0  northeast   3393.35635
47  28.0  female  34.770         0       0  northwest   3556.92230
48  60.0  female     NaN         0       0  southeast  12629.89670
49  36.0    male  35.200         1       1  southeast  38709.17600
50  18.0  female  35.625         0       0  northeast   2211.13075
51  21.0  female  33.630         2       0  northwest   3579.82870
52  48.0    male  28.000         1       1  southwest  23568.27200
53  36.0    male  34.430         0       1  southeast  37742.57570
54  40.0  female  28.690         3       0  northwest   8059.67910
55  58.0    male  36.955         2       1  northwest  47496.49445
56  58.0  female  31.825         2       0  northeast  13607.36875
57  18.0    male  31.680         2       1  southeast  34303.16720
58  53.0  female  22.880         1       1  southeast  23244.79020
59  34.0  female  37.335         2       0  northwest   5989.52365
60  43.0    male  27.360         3       0  northeast   8606.21740
61  25.0    male  33.660         4       0  southeast   4504.66240
62  64.0    male  24.700         1       0  northwest  30166.61817
63  28.0  female  25.935         1       0  northwest   4133.64165
64  20.0  female  22.420         0       1  northwest  14711.74380
65  19.0  female  28.900         0       0  southwest   1743.21400
66  61.0  female  39.100         2       0  southwest  14235.07200
67  40.0    male  26.315         1       0  northwest   6389.37785
68  40.0  female  36.190         0       0  southeast   5920.10410
69  28.0    male  23.980         3       1  southeast  17663.14420
70  27.0  female  24.750         0       1  southeast  16577.77950
71  31.0    male  28.500         5       0  northeast   6799.45800
72  53.0  female  28.100         3       0  southwest  11741.72600
73  58.0    male  32.010         1       0  southeast  11946.62590
74  44.0    male  27.400         2       0  southwest   7726.85400
75  57.0    male  34.010         0       0  northwest  11356.66090
76  29.0  female  29.590         1       0  southeast   3947.41310
77  21.0    male  35.530         0       0  southeast   1532.46970
78  22.0  female  39.805         0       0  northeast   2755.02095
79  41.0  female  32.965         0       0  northwest   6571.02435
80  31.0    male  26.885         1       0  northeast   4441.21315

In [ ]:
file1.iloc[25:80]

     age  gender     bmi  children  smoker     region      charges
25  59.0  female  27.720         3       0  southeast  14001.13380
26  63.0  female  23.085         0       0  northeast  14451.83515
27  55.0  female  32.775         2       0  northwest  12268.63225
28  23.0    male  17.385         1       0  northwest   2775.19215
29  31.0    male  36.300         2       1  southwest  38711.00000
30  22.0    male  35.600         0       1  southwest  35585.57600
31  18.0  female  26.315         0       0  northeast   2198.18985
32  19.0  female  28.600         5       0  southwest   4687.79700
33  63.0    male  28.310         0       0  northwest  13770.09790
34  28.0    male  36.400         1       1  southwest  51194.55914
35  19.0    male  20.425         0       0  northwest   1625.43375
36  62.0  female  32.965         3       0  northwest  15612.19335
37  26.0    male  20.800         0       0  southwest   2302.30000
38  35.0    male  36.670         1       1  northeast  39774.27630
39  60.0    male  39.900         0       1  southwest  48173.36100
40  24.0  female  26.600         0       0  northeast   3046.06200
41  31.0  female  36.630         2       0  southeast   4949.75870
42  41.0    male  21.780         1       0  southeast   6272.47720
43  37.0  female  30.800         2       0  southeast   6313.75900
44  38.0    male  37.050         1       0  northeast   6079.67150
45  55.0    male  37.300         0       0  southwest  20630.28351
46  18.0  female  38.665         2       0  northeast   3393.35635
47  28.0  female  34.770         0       0  northwest   3556.92230
48  60.0  female     NaN         0       0  southeast  12629.89670
49  36.0    male  35.200         1       1  southeast  38709.17600
50  18.0  female  35.625         0       0  northeast   2211.13075
51  21.0  female  33.630         2       0  northwest   3579.82870
52  48.0    male  28.000         1       1  southwest  23568.27200
53  36.0    male  34.430         0       1  southeast  37742.57570
54  40.0  female  28.690         3       0  northwest   8059.67910
55  58.0    male  36.955         2       1  northwest  47496.49445
56  58.0  female  31.825         2       0  northeast  13607.36875
57  18.0    male  31.680         2       1  southeast  34303.16720
58  53.0  female  22.880         1       1  southeast  23244.79020
59  34.0  female  37.335         2       0  northwest   5989.52365
60  43.0    male  27.360         3       0  northeast   8606.21740
61  25.0    male  33.660         4       0  southeast   4504.66240
62  64.0    male  24.700         1       0  northwest  30166.61817
63  28.0  female  25.935         1       0  northwest   4133.64165
64  20.0  female  22.420         0       1  northwest  14711.74380
65  19.0  female  28.900         0       0  southwest   1743.21400
66  61.0  female  39.100         2       0  southwest  14235.07200
67  40.0    male  26.315         1       0  northwest   6389.37785
68  40.0  female  36.190         0       0  southeast   5920.10410
69  28.0    male  23.980         3       1  southeast  17663.14420
70  27.0  female  24.750         0       1  southeast  16577.77950
71  31.0    male  28.500         5       0  northeast   6799.45800
72  53.0  female  28.100         3       0  southwest  11741.72600
73  58.0    male  32.010         1       0  southeast  11946.62590
74  44.0    male  27.400         2       0  southwest   7726.85400
75  57.0    male  34.010         0       0  northwest  11356.66090
76  29.0  female  29.590         1       0  southeast   3947.41310
77  21.0    male  35.530         0       0  southeast   1532.46970
78  22.0  female  39.805         0       0  northeast   2755.02095
79  41.0  female  32.965         0       0  northwest   6571.02435

In [ ]:
file1["age"].mean()

np.float64(39.254122938530735)

In [ ]:
file1.describe()

               age          bmi     children       smoker       charges
count  1334.000000  1333.000000  1338.000000  1338.000000   1338.000000
mean     39.254123    30.676913     1.094918     0.204783  13270.422265
std      14.041596     6.102225     1.205493     0.403694  12110.011237
min      18.000000    15.960000     0.000000     0.000000   1121.873900
25%      27.000000    26.315000     0.000000     0.000000   4740.287150
50%      39.000000    30.400000     1.000000     0.000000   9382.033000
75%      51.000000    34.700000     2.000000     0.000000  16639.912515
max      64.000000    53.130000     5.000000     1.000000  63770.428010

In [ ]:
file1.isnull().sum()

age         4
gender      0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
d=file1.fillna(79.4)
print(d)

       age  gender    bmi  children  smoker     region      charges
0     79.4  female  27.90         0       1  southwest  16884.92400
1     79.4    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male  79.40         0       0  northwest  21984.47061
4     32.0    male  79.40         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
b=file1["age"].mean()
print(b)
file1["age"].fillna(b)

39.254122938530735

0       39.254123
1       39.254123
2       28.000000
3       33.000000
4       32.000000
          ...
1333    50.000000
1334    18.000000
1335    18.000000
1336    21.000000
1337    61.000000
Name: age, Length: 1338, dtype: float64

In [ ]:
pd.read_csv("/content/insurance.csv")

       age  gender    bmi  children  smoker     region      charges
0      NaN  female  27.90         0       1  southwest  16884.92400
1      NaN    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male    NaN         0       0  northwest  21984.47061
4     32.0    male    NaN         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
file1.head(25)

     age  gender     bmi  children  smoker     region      charges
0    NaN  female  27.900         0       1  southwest  16884.92400
1    NaN    male  33.770         1       0  southeast   1725.55230
2   28.0    male  33.000         3       0  southeast   4449.46200
3   33.0    male     NaN         0       0  northwest  21984.47061
4   32.0    male     NaN         0       0  northwest   3866.85520
5    NaN  female  25.740         0       0  southeast   3756.62160
6   46.0  female  33.440         1       0  southeast   8240.58960
7   37.0  female  27.740         3       0  northwest   7281.50560
8   37.0    male  29.830         2       0  northeast   6406.41070
9   60.0  female  25.840         0       0  northwest  28923.13692
10  25.0    male  26.220         0       0  northeast   2721.32080
11  62.0  female  26.290         0       1  southeast  27808.72510
12  23.0    male  34.400         0       0  southwest   1826.84300
13  56.0  female  39.820         0       0  southeast  11090.71780
14  27.0    male  42.130         0       1  southeast  39611.75770
15  19.0    male  24.600         1       0  southwest   1837.23700
16  52.0  female  30.780         1       0  northeast  10797.33620
17  23.0    male  23.845         0       0  northeast   2395.17155
18  56.0    male  40.300         0       0  southwest  10602.38500
19  30.0    male  35.300         0       1  southwest  36837.46700
20  60.0  female  36.005         0       0  northeast  13228.84695
21  30.0  female  32.400         1       0  southwest   4149.73600
22  18.0    male  34.100         0       0  southeast   1137.01100
23  34.0  female  31.920         1       1  northeast  37701.87680
24  37.0    male  28.025         2       0  northwest   6203.90175

In [ ]:
file1.tail(23)

       age  gender     bmi  children  smoker     region      charges
1315  18.0    male  28.310         1       0  northeast  11272.33139
1316  19.0  female  20.600         0       0  southwest   1731.67700
1317  18.0    male  53.130         0       0  southeast   1163.46270
1318  35.0    male  39.710         4       0  northeast  19496.71917
1319  39.0  female  26.315         2       0  northwest   7201.70085
1320  31.0    male  31.065         3       0  northwest   5425.02335
1321  62.0    male  26.695         0       1  northeast  28101.33305
1322  62.0    male  38.830         0       0  southeast  12981.34570
1323  42.0  female  40.370         2       1  southeast  43896.37630
1324  31.0    male  25.935         1       0  northwest   4239.89265
1325  61.0    male  33.535         0       0  northeast  13143.33665
1326  42.0  female  32.870         0       0  northeast   7050.02130
1327  51.0    male  30.030         1       0  southeast   9377.90470
1328  23.0  female  24.225         2       0  northeast  22395.74424
1329  52.0    male  38.600         2       0  southwest  10325.20600
1330  57.0  female  25.740         2       0  southeast  12629.16560
1331  23.0  female  33.400         0       0  southwest  10795.93733
1332  52.0  female  44.700         3       0  southwest  11411.68500
1333  50.0    male  30.970         3       0  northwest  10600.54830
1334  18.0  female  31.920         0       0  northeast   2205.98080
1335  18.0  female  36.850         0       0  southeast   1629.83350
1336  21.0  female  25.800         0       0  southwest   2007.94500
1337  61.0  female  29.070         0       1  northwest  29141.36030

In [ ]:
file1.loc[25:90]

     age  gender     bmi  children  smoker     region      charges
25  59.0  female  27.720         3       0  southeast  14001.13380
26  63.0  female  23.085         0       0  northeast  14451.83515
27  55.0  female  32.775         2       0  northwest  12268.63225
28  23.0    male  17.385         1       0  northwest   2775.19215
29  31.0    male  36.300         2       1  southwest  38711.00000
..   ...     ...     ...       ...     ...        ...          ...
86  57.0  female  31.160         0       1  northwest  43578.93940
87  56.0  female  27.200         0       0  southwest  11073.17600
88  46.0  female  27.740         0       0  northwest   8026.66660
89  55.0  female     NaN         0       0  northwest  11082.57720
90  21.0  female  39.490         0       0  southeast   2026.97410

[66 rows x 7 columns]

In [ ]:
file1.iloc[25:90]

     age  gender     bmi  children  smoker     region      charges
25  59.0  female  27.720         3       0  southeast  14001.13380
26  63.0  female  23.085         0       0  northeast  14451.83515
27  55.0  female  32.775         2       0  northwest  12268.63225
28  23.0    male  17.385         1       0  northwest   2775.19215
29  31.0    male  36.300         2       1  southwest  38711.00000
..   ...     ...     ...       ...     ...        ...          ...
85  45.0    male  22.895         2       1  northwest  21098.55405
86  57.0  female  31.160         0       1  northwest  43578.93940
87  56.0  female  27.200         0       0  southwest  11073.17600
88  46.0  female  27.740         0       0  northwest   8026.66660
89  55.0  female     NaN         0       0  northwest  11082.57720

[65 rows x 7 columns]

In [ ]:
file1["age"].mean()

np.float64(39.254122938530735)

In [ ]:
file1.isnull()

        age  gender    bmi  children  smoker  region  charges
0      True   False  False     False   False   False    False
1      True   False  False     False   False   False    False
2     False   False  False     False   False   False    False
3     False   False   True     False   False   False    False
4     False   False   True     False   False   False    False
...     ...     ...    ...       ...     ...     ...      ...
1333  False   False  False     False   False   False    False
1334  False   False  False     False   False   False    False
1335  False   False  False     False   False   False    False
1336  False   False  False     False   False   False    False
1337  False   False  False     False   False   False    False

[1338 rows x 7 columns]

In [ ]:
file1.describe()

               age          bmi     children       smoker       charges
count  1334.000000  1333.000000  1338.000000  1338.000000   1338.000000
mean     39.254123    30.676913     1.094918     0.204783  13270.422265
std      14.041596     6.102225     1.205493     0.403694  12110.011237
min      18.000000    15.960000     0.000000     0.000000   1121.873900
25%      27.000000    26.315000     0.000000     0.000000   4740.287150
50%      39.000000    30.400000     1.000000     0.000000   9382.033000
75%      51.000000    34.700000     2.000000     0.000000  16639.912515
max      64.000000    53.130000     5.000000     1.000000  63770.428010

In [ ]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1334 non-null   float64
 1   gender    1338 non-null   object
 2   bmi       1333 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 73.3+ KB

In [ ]:
file1["age"].isnull().sum()

np.int64(4)

In [ ]:
file1.fillna(2000)

         age  gender      bmi  children  smoker     region      charges
0     2000.0  female    27.90         0       1  southwest  16884.92400
1     2000.0    male    33.77         1       0  southeast   1725.55230
2       28.0    male    33.00         3       0  southeast   4449.46200
3       33.0    male  2000.00         0       0  northwest  21984.47061
4       32.0    male  2000.00         0       0  northwest   3866.85520
...      ...     ...      ...       ...     ...        ...          ...
1333    50.0    male    30.97         3       0  northwest  10600.54830
1334    18.0  female    31.92         0       0  northeast   2205.98080
1335    18.0  female    36.85         0       0  southeast   1629.83350
1336    21.0  female    25.80         0       0  southwest   2007.94500
1337    61.0  female    29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
d=file1["age"].mean()
file1["age"].fillna(d)

0       39.254123
1       39.254123
2       28.000000
3       33.000000
4       32.000000
          ...
1333    50.000000
1334    18.000000
1335    18.000000
1336    21.000000
1337    61.000000
Name: age, Length: 1338, dtype: float64

In [ ]:
file1.ffill()

       age  gender    bmi  children  smoker     region      charges
0      NaN  female  27.90         0       1  southwest  16884.92400
1      NaN    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male  33.00         0       0  northwest  21984.47061
4     32.0    male  33.00         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
file1.bfill()

       age  gender    bmi  children  smoker     region      charges
0     28.0  female  27.90         0       1  southwest  16884.92400
1     28.0    male  33.77         1       0  southeast   1725.55230
2     28.0    male  33.00         3       0  southeast   4449.46200
3     33.0    male  25.74         0       0  northwest  21984.47061
4     32.0    male  25.74         0       0  northwest   3866.85520
...    ...     ...    ...       ...     ...        ...          ...
1333  50.0    male  30.97         3       0  northwest  10600.54830
1334  18.0  female  31.92         0       0  northeast   2205.98080
1335  18.0  female  36.85         0       0  southeast   1629.83350
1336  21.0  female  25.80         0       0  southwest   2007.94500
1337  61.0  female  29.07         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
file1.isnull().sum()

age         4
gender      0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
d=file1["bmi"].fillna(45)
print(d)

0       27.90
1       33.77
2       33.00
3       45.00
4       45.00
        ...
1333    30.97
1334    31.92
1335    36.85
1336    25.80
1337    29.07
Name: bmi, Length: 1338, dtype: float64