In [66]:
import pandas as pd

In [67]:
info={
    "Nmae" : ["Rahul","Harshita","Shradha"],
    "CGPA" : [9.5,7.5,8.5]
}
df=pd.DataFrame(info)
print(df)

       Nmae  CGPA
0     Rahul   9.5
1  Harshita   7.5
2   Shradha   8.5

In [68]:
df

       Nmae  CGPA
0     Rahul   9.5
1  Harshita   7.5
2   Shradha   8.5

In [69]:
s=pd.Series([1,2,3,4,5,6,7,8,9])
print(s)
print(type(s))
# series(1D labeled array)
# index
print(s[0])
print(s[1])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
<class 'pandas.core.series.Series'>
1
2

In [70]:
# Series in pandas
s=pd.Series([23,24,25,26,27])
print(s)
print(type(s))
# Indexing
print(s[0])   #23
print(s[2])    #25
print(s.index)  #all labels

0    23
1    24
2    25
3    26
4    27
dtype: int64
<class 'pandas.core.series.Series'>
23
25
RangeIndex(start=0, stop=5, step=1)

In [71]:
# custom indexing 
s2=pd.Series([23,24,25,26], index=["Adam","Eve","Charlie","Bob"])
print(s2["Eve"])
print(s2["Bob"])

24
26

In [72]:
# Vectorized operations
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
print(s1+s2)

0    5
1    7
2    9
dtype: int64

In [73]:
# Mutable Value but immutable size
s=pd.Series([1,2,3,4,5,6])
print(s)
s[0]=100
print(s)
changed_s=s.drop(1)
print(changed_s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    100
1      2
2      3
3      4
4      5
5      6
dtype: int64
0    100
2      3
3      4
4      5
5      6
dtype: int64

In [74]:
# DataFrame in pandas -using dictinary
info={
    "Name":["Adam","Eve","Bob"],
    "Marks":[78,99,85],
    "Grade":['B','O','A']
}
df=pd.DataFrame(info)
print(df)
df
print(df.index)    
print(df.columns)

   Name  Marks Grade
0  Adam     78     B
1   Eve     99     O
2   Bob     85     A
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Marks', 'Grade'], dtype='object')

In [75]:
# DataFrom using Numpy array
import numpy as np
np_arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(np_arr,columns=["col1","col2","col3"])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [76]:
#  pandas with csv files
data=pd.read_csv("employee_data(1).csv")
print(data)
print(type(data))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000
<class 'pandas.core.frame.DataFrame'>

In [77]:
# pandas with json files
data=pd.read_json("employee_data.json")
print(data)
print(type(data))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000
<class 'pandas.core.frame.DataFrame'>

In [78]:
# DataFream Methods
data=pd.read_csv("raw_data (2).csv")
print(data)

print(data.head())
print(data.tail())
print(data.sample())
print(data.info())
print(data.shape)
print(data.describe())
print(data.columns)
print(data.nunique())

    id          name   age country   gender   income
0    1      John Doe  29.0     USA     Male  55000.0
1    1      John Doe  29.0     USA     Male  55000.0
2    2    Jane Smith   NaN  Canada   Female  62000.0
3    3          Alex   NaN     USA  Unknown  47000.0
4    4  Maria Garcia  34.0   Spain   Female      NaN
5    5        Li Wei  27.0   China     Male  51000.0
6    6           NaN  45.0   India   Female  73000.0
7    7    Ahmed Khan  38.0     NaN     Male  68000.0
8    8    Rachel Lee  29.0     USA   Female  62000.0
9    9   Carlos Ruiz   NaN  Mexico     Male  45000.0
10  10   Emily Davis  31.0     USA      NaN  58000.0
   id          name   age country   gender   income
0   1      John Doe  29.0     USA     Male  55000.0
1   1      John Doe  29.0     USA     Male  55000.0
2   2    Jane Smith   NaN  Canada   Female  62000.0
3   3          Alex   NaN     USA  Unknown  47000.0
4   4  Maria Garcia  34.0   Spain   Female      NaN
    id         name   age country  gender   income
6    6          NaN  45.0   India  Female  73000.0
7    7   Ahmed Khan  38.0     NaN    Male  68000.0
8    8   Rachel Lee  29.0     USA  Female  62000.0
9    9  Carlos Ruiz   NaN  Mexico    Male  45000.0
10  10  Emily Davis  31.0     USA     NaN  58000.0
   id      name   age country gender   income
0   1  John Doe  29.0     USA   Male  55000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11 non-null     int64
 1   name     10 non-null     object
 2   age      8 non-null      float64
 3   country  10 non-null     object
 4   gender   10 non-null     object
 5   income   10 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 660.0+ bytes
None
(11, 6)
              id        age        income
count  11.000000   8.000000     10.000000
mean    5.090909  32.750000  57600.000000
std     3.176619   6.065123   8896.940798
min     1.000000  27.000000  45000.000000
25%     2.500000  29.000000  52000.000000
50%     5.000000  30.000000  56500.000000
75%     7.500000  35.000000  62000.000000
max    10.000000  45.000000  73000.000000
Index(['id', 'name', 'age', 'country', 'gender', 'income'], dtype='object')
id         10
name        9
age         6
country     6
gender      3
income      8
dtype: int64

In [79]:
df=pd.read_csv("globalAirQuality.csv")
print(df)
#print(type(df))
print(df.describe())
df.describe()

                        timestamp country      city  latitude  longitude  \
0      2025-11-04 18:25:17.554219      US  New York    40.713    -74.006
1      2025-11-04 19:25:17.554219      US  New York    40.713    -74.006
2      2025-11-04 20:25:17.554219      US  New York    40.713    -74.006
3      2025-11-04 21:25:17.554219      US  New York    40.713    -74.006
4      2025-11-04 22:25:17.554219      US  New York    40.713    -74.006
...                           ...     ...       ...       ...        ...
17995  2025-11-19 13:25:17.554219      CH    Zurich    47.377      8.542
17996  2025-11-19 14:25:17.554219      CH    Zurich    47.377      8.542
17997  2025-11-19 15:25:17.554219      CH    Zurich    47.377      8.542
17998  2025-11-19 16:25:17.554219      CH    Zurich    47.377      8.542
17999  2025-11-19 17:25:17.554219      CH    Zurich    47.377      8.542

         pm25     pm10     no2    so2      o3     co  aqi  temperature  \
0      50.295  108.938  27.998  6.539  52.568  1.096  108       18.504
1      32.083   63.043  36.120  4.021  43.536  1.075   90        5.838
2      42.250   82.553  26.935  9.538  23.320  0.977   84       31.833
3      30.403   79.951  63.536  7.609  31.369  0.230  158       23.140
4      21.083   66.423  38.997  6.919  45.615  1.085   97       13.632
...       ...      ...     ...    ...     ...    ...  ...          ...
17995  27.899   74.179  41.474  6.677  50.869  1.028  103        7.079
17996   2.950   47.988  42.235  2.821  35.551  0.644  105       28.734
17997  61.347   72.908  46.976  5.763  66.492  0.947  122       21.951
17998  40.722   95.152  32.957  5.524  53.193  0.868   95       24.042
17999  25.830   30.411  35.317  4.336  66.246  0.848   88        8.529

       humidity  wind_speed
0        70.168       3.725
1        80.088       8.969
2        62.783       9.650
3        89.153       8.956
4        76.499       4.017
...         ...         ...
17995    52.443       7.452
17996    85.678       4.496
17997    72.311       9.660
17998    31.880       2.642
17999    59.104       4.403

[18000 rows x 15 columns]
           latitude     longitude          pm25          pm10           no2  \
count  18000.000000  18000.000000  18000.000000  18000.000000  18000.000000
mean      23.065980     37.655560     40.369131     70.152228     32.055176
std       26.156536     78.600701     17.647450     24.999440     13.820680
min      -37.814000   -123.121000      0.025000      0.061000      0.013000
25%       12.972000      2.352000     27.904500     53.125500     22.362500
50%       29.232000     42.146000     40.286500     69.961000     32.019500
75%       41.008000    103.820000     52.436250     87.256500     41.364250
max       60.170000    174.763000    115.683000    161.810000     90.019000

                so2            o3            co           aqi   temperature  \
count  18000.000000  18000.000000  18000.000000  18000.000000  18000.000000
mean       6.035508     48.065100      0.800595    104.645556     21.510251
std        2.454790     14.950849      0.250254     25.616070      9.509444
min        0.003000      0.114000      0.000000     16.000000      5.000000
25%        4.360750     38.028500      0.633000     87.000000     13.357750
50%        6.026000     48.142000      0.800500    103.000000     21.455500
75%        7.715250     58.258500      0.969000    121.000000     29.688250
max       16.559000    103.016000      1.832000    231.000000     37.998000

           humidity    wind_speed
count  18000.000000  18000.000000
mean      57.714351      5.283910
std       18.844908      2.741712
min       25.002000      0.500000
25%       41.320000      2.937000
50%       57.847000      5.297000
75%       74.234750      7.662000
max       89.997000      9.999000

,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
count,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000
mean,23.065980,37.655560,40.369131,70.152228,32.055176,6.035508,48.065100,0.800595,104.645556,21.510251,57.714351,5.283910
std,26.156536,78.600701,17.647450,24.999440,13.820680,2.454790,14.950849,0.250254,25.616070,9.509444,18.844908,2.741712
min,-37.814000,-123.121000,0.025000,0.061000,0.013000,0.003000,0.114000,0.000000,16.000000,5.000000,25.002000,0.500000
25%,12.972000,2.352000,27.904500,53.125500,22.362500,4.360750,38.028500,0.633000,87.000000,13.357750,41.320000,2.937000
50%,29.232000,42.146000,40.286500,69.961000,32.019500,6.026000,48.142000,0.800500,103.000000,21.455500,57.847000,5.297000
75%,41.008000,103.820000,52.436250,87.256500,41.364250,7.715250,58.258500,0.969000,121.000000,29.688250,74.234750,7.662000
max,60.170000,174.763000,115.683000,161.810000,90.019000,16.559000,103.016000,1.832000,231.000000,37.998000,89.997000,9.999000

In [80]:
df["country"]

0        US
1        US
2        US
3        US
4        US
         ..
17995    CH
17996    CH
17997    CH
17998    CH
17999    CH
Name: country, Length: 18000, dtype: object

In [81]:
df[["city","aqi"]]

           city  aqi
0      New York  108
1      New York   90
2      New York   84
3      New York  158
4      New York   97
...         ...  ...
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122
17998    Zurich   95
17999    Zurich   88

[18000 rows x 2 columns]

In [82]:
# select rows (by label)
df.loc[0]
df.loc[0:3]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956

In [83]:
# secect rows (by index)
df.iloc[0]
df.iloc[4:7]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
5,2025-11-04 23:25:17.554219,US,New York,40.713,-74.006,31.242,92.779,30.633,8.030,43.725,0.347,92,15.159,42.505,1.199
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542

In [84]:
# select rows and columns
df.loc[0,"country"]
df.iloc[0,2]
df.iloc[0,1:5]
df.loc[0,["country","aqi"]]
df.loc[0:5,["country","city","latitude"]]
df.iloc[0:5,1:3]

  country      city
0      US  New York
1      US  New York
2      US  New York
3      US  New York
4      US  New York

In [85]:
# select single scalar value
df.at[0,"city"]
df.iat[0,2]
df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [86]:
# filtering data
df[df["aqi"]>100]
df[df["aqi"]>100][["city","aqi"]]
df[(df["aqi"]>100) & (df["timestamp"]=="2025-11-04 18:25:17.554219")]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
360,2025-11-04 18:25:17.554219,US,Los Angeles,34.052,-118.244,52.994,63.756,45.007,7.112,18.348,0.881,112,10.374,33.796,6.130
720,2025-11-04 18:25:17.554219,GB,London,51.507,-0.128,43.320,67.917,43.390,5.677,54.580,0.925,108,34.044,71.339,8.102
1440,2025-11-04 18:25:17.554219,DE,Berlin,52.520,13.405,53.776,75.634,34.751,3.061,52.197,0.793,107,25.385,60.734,2.304
1800,2025-11-04 18:25:17.554219,ES,Madrid,40.417,-3.704,35.041,55.241,49.878,3.080,30.397,0.882,124,29.042,72.507,1.411
2520,2025-11-04 18:25:17.554219,CA,Toronto,43.653,-79.383,64.631,73.235,56.836,8.320,24.929,0.944,142,30.050,77.669,7.254
2880,2025-11-04 18:25:17.554219,MX,Mexico City,19.433,-99.133,55.318,44.950,47.820,3.714,36.142,0.593,119,12.566,31.089,3.164
3240,2025-11-04 18:25:17.554219,BR,São Paulo,-23.550,-46.633,51.126,10.074,47.336,5.776,22.606,0.687,118,26.544,27.263,9.809
3960,2025-11-04 18:25:17.554219,ZA,Cape Town,-33.925,18.424,34.853,105.285,23.779,3.930,47.280,0.867,105,10.124,44.411,7.628
4320,2025-11-04 18:25:17.554219,EG,Cairo,30.044,31.236,54.738,86.629,22.883,5.183,39.764,0.491,109,21.369,50.436,6.588
5760,2025-11-04 18:25:17.554219,SA,Riyadh,24.714,46.675,67.986,89.920,47.557,8.924,62.157,1.277,135,6.922,45.252,7.951
6120,2025-11-04 18:25:17.554219,QA,Doha,25.285,51.531,54.504,39.951,16.904,5.391,43.237,0.915,109,6.103,88.828,8.069
7560,2025-11-04 18:25:17.554219,IN,Kolkata,22.573,88.364,53.758,94.639,38.675,3.651,37.158,1.186,107,23.634,37.008,2.104
8280,2025-11-04 18:25:17.554219,JP,Tokyo,35.676,139.650,32.340,117.481,40.151,5.672,63.998,0.723,117,24.398,54.037,2.945
9360,2025-11-04 18:25:17.554219,CN,Beijing,39.904,116.407,39.173,64.261,42.348,2.638,73.755,0.815,105,18.014,62.475,7.647
10080,2025-11-04 18:25:17.554219,HK,Hong Kong,22.319,114.169,84.773,58.333,55.363,5.271,53.820,0.963,169,36.988,84.889,3.188
10800,2025-11-04 18:25:17.554219,TH,Bangkok,13.756,100.502,51.992,125.521,37.467,4.816,50.238,0.732,125,31.020,70.066,6.458
11160,2025-11-04 18:25:17.554219,MY,Kuala Lumpur,3.139,101.687,79.805,64.628,10.487,7.725,24.033,0.657,159,31.031,39.719,0.649
11520,2025-11-04 18:25:17.554219,ID,Jakarta,-6.209,106.846,15.944,108.221,42.390,5.194,50.761,1.128,108,37.436,35.437,0.660
12600,2025-11-04 18:25:17.554219,NZ,Auckland,-36.848,174.763,34.242,102.113,56.820,10.354,75.994,0.878,142,6.565,41.629,3.733
14040,2025-11-04 18:25:17.554219,PK,Karachi,24.861,67.001,86.959,98.461,51.464,7.724,48.583,0.787,173,36.655,79.050,3.227
14400,2025-11-04 18:25:17.554219,PH,Manila,14.600,120.984,43.976,81.310,52.995,8.879,54.661,0.683,132,17.562,75.949,9.717
15120,2025-11-04 18:25:17.554219,US,San Francisco,37.775,-122.419,46.185,133.725,63.606,4.944,62.872,0.364,159,9.341,47.550,9.955
15480,2025-11-04 18:25:17.554219,US,Chicago,41.878,-87.630,39.726,91.806,41.450,5.057,72.828,0.718,103,28.419,81.709,5.114
16200,2025-11-04 18:25:17.554219,CA,Vancouver,49.283,-123.121,54.055,86.847,23.432,3.715,55.560,1.014,108,28.549,57.788,4.638
16920,2025-11-04 18:25:17.554219,SE,Stockholm,59.329,18.069,46.500,33.297,52.367,7.162,54.054,0.386,130,19.640,51.401,9.353
17280,2025-11-04 18:25:17.554219,FI,Helsinki,60.170,24.938,41.986,55.260,41.747,7.534,60.598,1.264,104,26.816,88.866,1.257
17640,2025-11-04 18:25:17.554219,CH,Zurich,47.377,8.542,37.787,104.854,23.550,11.285,17.016,0.614,104,34.719,46.797,9.232

In [87]:
aqi_data=df[(df["aqi"]>100) & (df["timestamp"]=="2025-11-04 18:25:17.554219")][["city","aqi"]]
print(aqi_data)

                city  aqi
0           New York  108
360      Los Angeles  112
720           London  108
1440          Berlin  107
1800          Madrid  124
2520         Toronto  142
2880     Mexico City  119
3240       São Paulo  118
3960       Cape Town  105
4320           Cairo  109
5760          Riyadh  135
6120            Doha  109
7560         Kolkata  107
8280           Tokyo  117
9360         Beijing  105
10080      Hong Kong  169
10800        Bangkok  125
11160   Kuala Lumpur  159
11520        Jakarta  108
12600       Auckland  142
14040        Karachi  173
14400         Manila  132
15120  San Francisco  159
15480        Chicago  103
16200      Vancouver  108
16920      Stockholm  130
17280       Helsinki  104
17640         Zurich  104

In [88]:
# difference in loc and iloc both given same value
aqi_data.loc[360]
aqi_data.iloc[1]

city    Los Angeles
aqi             112
Name: 360, dtype: object

In [103]:
# Query return a copy,not a view
df.query("aqi > 100 & timestamp == '2025-11-04 18:25:17.554219'")
my_country="IN"
df.query("country == @my_country")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6480,2025-11-04 18:25:17.554219,IN,Mumbai,19.076,72.878,45.820,86.378,19.605,7.877,42.399,0.432,91,10.045,89.524,9.220
6481,2025-11-04 19:25:17.554219,IN,Mumbai,19.076,72.878,30.901,37.578,24.789,6.175,27.457,0.696,61,20.684,45.327,5.640
6482,2025-11-04 20:25:17.554219,IN,Mumbai,19.076,72.878,43.462,53.136,20.056,8.264,60.784,0.893,86,26.774,72.434,0.766
6483,2025-11-04 21:25:17.554219,IN,Mumbai,19.076,72.878,27.480,58.907,41.722,8.539,59.209,0.361,104,6.142,39.544,9.526
6484,2025-11-04 22:25:17.554219,IN,Mumbai,19.076,72.878,25.216,53.843,29.847,6.027,25.765,0.980,74,20.644,57.349,2.674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8275,2025-11-19 13:25:17.554219,IN,Chennai,13.083,80.271,49.155,55.463,39.243,5.377,63.833,1.104,98,35.132,41.035,8.725
8276,2025-11-19 14:25:17.554219,IN,Chennai,13.083,80.271,68.446,93.351,47.252,4.812,64.233,1.044,136,17.835,27.979,1.200
8277,2025-11-19 15:25:17.554219,IN,Chennai,13.083,80.271,45.443,92.973,37.465,7.832,55.838,0.681,93,15.386,32.531,9.636
8278,2025-11-19 16:25:17.554219,IN,Chennai,13.083,80.271,41.327,104.353,39.472,5.130,40.228,0.811,104,37.014,66.142,5.292
8279,2025-11-19 17:25:17.554219,IN,Chennai,13.083,80.271,53.623,48.233,58.153,6.043,52.684,0.722,145,25.023,81.638,7.494